@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: white;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

:root{
  --accent-color: rgba(1, 158, 221, 1);
}

/* haeder */

header {
  position: relative;
}

header .logo {
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  color: white;
  cursor: pointer;
}
header .logo:hover{
  opacity: 0.5;
}
header .header__titel{
  background-color: var(--accent-color);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  position: fixed;
  z-index: 1000;
}

header ul.nav {
  font-size: 14px;
  list-style: none;
  color: white;
}
header ul.nav li {
  display: inline;
  margin-left: 28px;
  cursor: pointer;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .profile-btn {
  font-weight: 400;
  margin-right: 150px;
  color: white;
  cursor: pointer;
}
header .profile-btn:hover,
header ul.profile-nav li:hover {
  opacity: 0.5;
}

/* profile */

header ul.profile-nav {
  list-style: none;
  font-size: 14px;
  position: fixed;
  top: 150px;
  right: 170px;
  background: white;
  z-index: 1000;
  float: right;
  padding: 10px 20px;
  border: 1px solid black;
}
header ul.profile-nav li {
  margin: 10px 20px;
  cursor: pointer;
}
header ul.profile-nav li.login-btn {
  color: rgba(255, 0, 0, 0.72);
  transition: transform 500ms ease;
}


/* login */
.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 159, 221, 0.8);
  z-index: 9999;
  overflow: auto;
}
.autorize {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: white;
  border-radius: 9px;
}
.close-icon {
  float: right;
  position: fixed;
  cursor: pointer;
  background: white;
  right: 110px;
  top: 80px;
  transition: transform 500ms ease;
  color: red;
  z-index: 10000;
}

.reg-log-nav {
  list-style: none;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 30px;
}
.reg-log-nav li {
  display: inline;
  margin: 30px;
}
ul.reg-log-nav li:hover {
  opacity: 0.5;
}
.reg__titel, .log__titel {
  font-weight: 500;
  font-size: 30px;
}
.log__titel {
  border-bottom: 3px solid black;
  width: 80px;
}

.authoriation_label {
  margin: 30px;
  font-weight: 400;
  font-size: 14px;
}
.user_login, .user_password {
  font-weight: 400;
  font-size: 14px;
  width: 400px;
  border: none;
  border-bottom: 1px solid black;
  margin: 30px;
}
.agree {
  margin: 30px;
  font-weight: 400;
  font-size: 14px;
}
.send {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 50%;
  border: none;
  width: 120px;
  height: 40px;
  margin: 30px;
  cursor: pointer;
}
.send:hover {
  opacity: 0.5;
}
.color__text{
  color: var(--accent-color);
}

/* shop-cart */
header .shop-card-btn:active {
  opacity: 0.5;
}

header .shop-cart {
  position: fixed;
  top: 120px;
  left: 0;
  /* min-height: 1600px; */
  background: white;
  z-index: 1000;
  float: left;
  width: 100%;
  padding: 70px 150px;
}

header .shop-cart .item {
  width: 58%;
  float: left;
  margin-bottom: 20px;
  position: relative;
  top: 70px;
}

header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

header .shop-cart .item b{
  color: black;
  font-weight: 400;
  font-size: 12px;
}

header .shop-cart .empty {
  color: grey;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

header .shop-cart .item .delete-icon {
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  padding-top: 70px;
}

.shop__cart__name {
  float: left;
  color: black;
  font-weight: 500;
  font-size: 40px;
  position: absolute;
}

/* description */
header .presentation {
  margin: 70px 0px;
  background-color: var(--accent-color);
  height: 500px;
  color: white;
  position: relative;
}
header .presentation::after {
  content: 'мы -- интернет-магазин оргтехники';
  position: absolute;
  padding-top: 50px;
  padding-left: 150px;
  width: 600px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 15px;
}
header .presentation h2{
  position: absolute;
  padding-top: 380px;
  width: 600px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 15px;
  right: -160px;
}

header .presentation img {
  width: 45%;
  position: absolute;
  margin: 50px 450px;
}

/* catalog */
.categories {
  padding: 130px 140px;
  padding-bottom: 20px;
}
.categories div {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 25px 10px -10px 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}
.categories div:hover {
  border-color: silver;
  transform: scale(1.1);
}

main {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 140px;
}

.catalog__name {
  font-weight: 500;
  font-size: 40px;
  position: absolute;
  width: 600px;
  padding: 70px 150px;
}

main .item {
  width: 20%;
  margin: 20px 10px;
  background: white;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  border: 1px solid black;
}
.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 159, 221, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: white;
  border-radius: 9px;
}

main .item img,
.full-item .item img {
  width: 100%;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover,
.full-item .item img:hover {
  transform: scale(1.05);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b{
  margin: 10px 20px;
  color: dark;
}

main b, 
.full-item b{
  color: #5fa36a;
}

main .add__to__cart,
.full-item .add__to__cart{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: var(--accent-color);
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 500ms ease;
}

main .add__to__cart:hover,
.full-item .add__to__cart:hover {
  transform: scale(1.5) translateY(-5px);
}


/* footer */

footer {
  background-color: var(--accent-color);
  height: 200px;
  color: white;
  padding: 70px 150px;
}

footer .contacts__name {
  font-weight: 500;
  font-size: 40px;
}

footer .footer__titel {
  font-weight: 400;
  font-size: 14px;
  margin-top: 32px;
}

footer ul.socials {
  list-style: none;
  margin-top: 32px;
  margin-left: -30px;
}
footer ul.socials li {
  display: inline;
  margin-left: 28px;
  cursor: pointer;
}