@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

:root{
  --accent-color: rgba(1, 158, 221, 1);
}

header .logo {
  font-weight: 400;
  margin: 70px 150px auto;
  font-size: 14px;
  margin-left: 150px;
  color: white;
}

header .header__titel{
  background-color: var(--accent-color);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.presentation {
  margin: 1px 0px;
  background-color: var(--accent-color);
  height: 500px;
}

footer {
  background-color: var(--accent-color);
  height: 340px;
  color: white;
}