@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/* .wrapper {
  width: 1280px;
} */
:root{
  --accent-color: rgba(1, 158, 221, 1);
}

/* haeder */

header .logo {
  font-weight: 400;
  font-size: 14px;
  margin-left: 150px;
  color: white;
  cursor: pointer;
}
header .logo:hover{
  opacity: 0.5;
}
header .header__titel{
  background-color: var(--accent-color);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

header ul.nav {
  font-size: 14px;
  list-style: none;
  color: white;
  margin-right: 200px;
}
header ul.nav li {
  display: inline;
  margin-left: 28px;
  cursor: pointer;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .profile {
  font-weight: 400;
  font-size: 14px;
  margin-right: 150px;
  color: white;
  cursor: pointer;
}
header .profile:hover{
  opacity: 0.5;
}

/* main */
header .presentation {
  margin: 1px 0px;
  background-color: var(--accent-color);
  height: 500px;
  color: white;
}
header .presentation::after {
  content: 'мы -- интернет-магазин оргтехники';
  position: absolute;
  top: 200px;
  left: 150px;
  width: 600px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 15px;
}
header .presentation::before {
  content: 'orgtex';
  position: absolute;
  top: 450px;
  left: 815px;
  width: 600px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 15px;
}

/* footer */

footer {
  background-color: var(--accent-color);
  height: 340px;
  color: white;
  padding: 70px 150px;
}

footer .contacts__name {
  font-weight: 500;
  font-size: 40px;
}

footer .footer__titel {
  font-weight: 400;
  font-size: 14px;
  margin-top: 32px;
}

